
<div id="home">

{{!-- NAV BAR --}}

{{!-- <nav class="navbar navbar-expand-lg navbar-light"> --}}
<nav class="navbar navbar-light ">

  <a class="navbar-brand"><h2>CheckIt!</h2></a>

  <a class="nav-link" href="/"><i data-eva="home" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>
  
  <a class="nav-link" href="/addTask"><i data-eva="plus-circle-outline" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>

  <a class="nav-link mr-sm-2" href="/task"><i data-eva="calendar-outline" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>

</div>

  <script>
      eva.replace();
    </script>
  
</nav>


{{!-- MAIN BODY --}}

<main id="main">

    {{!-- SECTION -D --}}
  <section id="section-d" class="grid">

    <div class="box1">
      <h3 class="content-title">Add a task, set a date and no more hassle in organizing your workflow.
Keep all the tasks in one place with no paper cuts. View them at any time.
When you are done just...</h3>
<h3>CheckIt!</h3>
 
      <p></p>
    </div>

     <div class="box2">
      <h3 class="content-title"></h3>

<form action='/api/user' method="POST">
<div class="form-group">

   <div class="input">
    <input name="username" class="col-md-8 mb-3" id="username" placeholder="Username">
    </div>

   <div class="input">
    <input name="password" type="password" class="col-md-8 mb-3" id="password" placeholder="Password">
     </div>

    <div class="input">
    <input name="url_img" class="col-md-8 mb-3"id="url-img" placeholder="URL">
    </div>

    <button type="submit" class="btn btn1 col-md-8 mb-3">Sign Up</button>



  </div>

  </form>
<a href="/signin"><button  class="btn btn2 col-md-8 mb-3">Log In</button></a>
    </div>

  </section>


</main>

{{!-- FOOTER --}}


<footer id="main-footer" class="grid">
<p> Copyright &copy; 2019: Legendary App</p>
</footer>

</div>
