<div id="home"></div>

{{!-- NAV BAR --}}

{{!-- <nav class="navbar navbar-expand-lg navbar-light"> --}}
<nav class="navbar navbar-light ">

  <a class="navbar-brand"><h2>CheckIt!</h2></a>

  <a class="nav-link" href="/"><i data-eva="home" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>
  
  <a class="nav-link" href="/addTask"><i data-eva="plus-circle-outline" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>

  <a class="nav-link" href="/task"><i data-eva="calendar-outline" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>

</div>

  <script>
      eva.replace();
    </script>
  
</nav>


{{!-- MAIN BODY --}}

<main id="main">

    {{!-- SECTION -D --}}
  <section id="section-d" class="grid">

    <div class="box1">
      <h3 class="content-title">Log in, add a tack, set a date and no more hassle in organizing your workflow.
Keep all the tasks in one place with no paper cuts. View them at any time.
And when you are done just CheckIt!</h3>
 
      <p></p>
    </div>

     <div class="box2">
      <h3 class="content-title"></h3>


<div class="form-group">

   <div class="input">
    <input type="username" class="col-md-8 mb-3" id="InputUsername1" placeholder="Password"><a href="api/" target="_blank"></a>
    </div>

   <div class="input">
    <input type="password" class="col-md-8 mb-3" id="InputPassword1" placeholder="Username"><a href="api/" target="_blank"></a>
     </div>

    <div class="input">
    <input type="URL" class="col-md-8 mb-3"id="InputPassword1" placeholder="URL"><a href="api/" target="_blank"></a>
    </div>

    <button type="submit" class="btn btn1 col-md-8 mb-3"><a href="/" target="_blank" id="link1">Sign Up</a></button>

    <button type="submit" class="btn btn2 col-md-8 mb-3"><a href="/" target="_blank" id="link2">Log In</a></button>

  </div>

    </div>

  </section>


</main>

{{!-- FOOTER --}}

<footer id="main-footer" class="grid">
<p> Copyright &copy; 2019: TeamAwesome's App</p>
</footer>
