
<!DOCTYPE html>
<html>
  <div id="home">

<script src="https://unpkg.com/eva-icons"></script>
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
{{!-- <nav class="navbar navbar-light bg-light justify-content-between"> --}}

  <a class="navbar-brand"><h2>CheckIt!</h2></a>

  <a class="nav-link" href="/"><i data-eva="home" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>
  <a class="nav-link" href="/addTask"><i data-eva="plus-circle-outline" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>
  <a class="nav-link" href="/task"><i data-eva="calendar-outline" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>
  

  {{!-- <form class="form-inline">
    <div id="home-scheduler">
<input id="home-input" placeholder= "What do you need to schedule?">
<button id= 'start-btn' type="submit" class="btn btn-info">Start</button>
</div>
  </form> --}}
  
</nav>

{{!-- <iframe id="background-vid" src="https://www.youtube-nocookie.com/embed/26U_seo0a1g?start=235&modestbranding=0&showinfo=0&rel=0&iv_load_policy=3&theme=light&fs=0&autohide=1&controls=0&disablekb=0&autoplay=1&mute=1&loop=1" allow="autoplay" width="100%" height="400" frameborder="0"></iframe> --}}


    <script>
      eva.replace();
    </script>

    <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>


        <div class="container">
  <div class="row">
    <div class="col">col</div>
    <div class="col"> <form>

  <div class="form-group">
    
  <div class="form-group">
    <input type="username" class="form-control" id="exampleInputUsername1" placeholder="Username">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">LogIn</button>
</form>
</div>
    <div class="w-100"></div>
  </div>
</div>



</div>
</div>
</div>

</body>

</div>

</html>


