<div id="home"></div>

{{!-- NAV BAR --}}

{{!-- <nav class="navbar navbar-expand-lg navbar-light"> --}}
<nav class="navbar navbar-light ">

  <a class="navbar-brand"><h2>CheckIt!</h2></a>

  <a class="nav-link" href="/"><i data-eva="home" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>
  
  <a class="nav-link" href="/addTask"><i data-eva="plus-circle-outline" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>

  <a class="nav-link" href="/task"><i data-eva="calendar-outline" data-eva-fill="black" data-eva-height="48" data-eva-width="48"></i></a>

</div>

  <script>
      eva.replace();
    </script>
  
</nav>


{{!-- MAIN BODY --}}

<main id="main">

    {{!-- SECTION -D --}}
  <section id="section-d" class="grid">

    <div class="box1">
      <h3 align="center"class="content-title">Sign In</h3>
 
      <p></p>
    </div>

     <div class="box2">
      <h3 class="content-title"></h3>

<form action='/api/login_data' method="POST">
<div class="form-group">

   <div align="center" class="input">
    <input name="userName" class="col-md-8 mb-3" id="username" placeholder="Username">
    </div>

   <div align="center" class="input">
    <input name="userPassword" type="password" class="col-md-8 mb-3" id="password" placeholder="Password" >
     </div>
<div align="center">
    <button  type="submit" class="btn btn1 col-md-8 mb-3">Log In</button>
</div>


  </div>

  </form>

    </div>

  </section>


</main>

{{!-- FOOTER --}}





