* body{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../LOGO/immages/paper-220634.jpg');
    background-position: bottom center;
    font-family: 'Nunito Sans', sans-serif;
    /* opacity: 0.9;
    filter: alpha(opacity=90); */
    background-size: 200%;
    margin: 0;
  }

#boxes{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.box{
    position: relative;
    width: 50px;
    height: 100px;
    margin: 9px;
    display: inline-block;
    box-shadow: 25px 25px 50px rgb(0,0,0,0.5);
}

.box1 {
    box-shadow: 25px 25px 50px rgb(0,0,0,0.5);
    opacity: 0.8;
    filter: alpha(opacity=80);

}

.red{background-color:yellow;}
.blue{background-color: navy;}
.green{background-color:green;}
.yellow{background-color:red;}
.orange{background-color: rgb(255, 162, 0);}

.purple{background-color:rgb(64, 9, 231);}



h1{
    font-style: oblique;
    font-size: 3pc;
    margin: 0px;
    color: #ffffff;
}


h2{
    color:rgb(43, 43, 44);
    font-size: 4em;
    opacity: 0.5;
    filter: alpha(opacity=50);
    text-align: center;
    line-height: 80px;
    font-family: 'Rock Salt', cursive;
    margin-top: 110px;
  }

  .container1 :hover{
    color:rgb(64, 9, 231);
}

 .container1 :active{
    color: rgb(240, 211, 43);
}

a{
    text-decoration: none;
}

  #main-footer{
    color:rgb(43, 43, 44);
    text-align: center;
    padding: 10px 30px;
    margin-top: 90px;
    opacity: 0.9;
    filter: alpha(opacity=70)
}