/* COMMECTED TO home.handlebars */


body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1da1f2;
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}

/* img{
    display: block;
    width: 100%;
    height: auto;
} */

h1, h4, h3{
    margin: 0px;
    padding: 1em 0em;
}

p{
    margin: 0px;
    padding: 1em 0em;
}

.navbar{
    background-color: #ffffff;
    position: sticky;
    box-shadow: 25px 25px 50px rgb(0,0,0,0.5);  
    justify-content: right;
}

.nav-link{
    padding: 0px 55px;
}

.eva{
    fill:#ffffff;
    box-shadow: 25px 25px 50px rgb(0,0,0,0.5);
    border-radius: 7px;
    height: 60px;
    width: 60px;
    background:#1da1f2;
    border: 1px solid #0f69a1;
    float: right;
}

#link1{
    text-decoration: none;
    color: #ffffff;
}

#link2{
    text-decoration: none;
    color: #1da1f2;
}

.btn1{
    display: inline-block;
    background:#1da1f2;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 0em;
    border: 2px solid #0f69a1;
    margin: 0.5em 0;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    box-shadow: 25px 25px 50px rgb(0,0,0,0.5);
    
}

.btn1:hover{
    background: #0f69a1;
    color: #ffffff;
    border: 2px solid #0f69a1;
}


.btn2{
    display: inline-block;
    background:#ffffff;
    color: #1da1f2;
    padding: 0.5em 0em;
    border: 2px solid #1da1f2;
    margin: 0.5em 0;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 25px 25px 50px rgb(0,0,0,0.5);
}

.btn2:hover{
    background: #cae8fa;
    color: #0f69a1;
    border: 2px solid #1da1f2;
}



.box1{
    padding: 2em;
    height: 450px;
    color: #ffffff;
    background-color: #1da1f2;
}

.box2{
    background-color: #ffffff;
    color: #1da1f2;
}



/* SECTION FOOTER */

#main-footer{
    padding: 2em;
    color: #ffffff;
    background: #1da1f2;
    text-align: center;
    position: relative;
    font-size: 0.5em;
    box-shadow: 25px 25px 50px rgb(0,0,0,0.5);


    position: absolute;
    background: #1da1f2 url("https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?cs=srgb&dl=notes-sticky-notes-sunlight-1629212.jpg&fm=jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    z-index: -1;
    opacity: 0.7;
    background-size: 100%;
    
    
  
}

/* MEADIA QUALRIES */

@media screen and (min-width: 768px) {
    /* The body's bg color will be #333 */
    .grid {
      display: grid;
      grid-template-columns: 2fr 2fr;
    }




    /* ////////OLD CODE///////////////////////////// */

/* #background-vid {
    zoom: 1.00;
    position:relative;
    bottom:50px;
    
}

.navbar-brand {
    font-family: 'Racing Sans One', cursive;
    font-size: 30px;
    color: #3C6B82;
}

body {
    background-image:url('https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=600')
}

#home-scheduler{
    float:right;
    margin-right:20px;
}

#home-input{
    width:240px;
    height:34px;
}

.navbar {
    position:relative;
    bottom:109px;
   
}

.todo-img {
    
    margin:20px;
    
}

.img-btn {
    width: 170px;
    height:150px;
}

.row {
   color:white;
    position:absolute;
    top:400px;
    

}

.subtitle {
    font:white;

    
}

#brand-name {
    font-family: 'Righteous', cursive;
    font-size: 25px;
} */

